/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(36, 36, 36);
    overflow: hidden;
    position:fixed;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav .name{
    left: 2%;
    color: #fff;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    margin-right: 33%;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

/* Top Navbar CSS ends */
/* Intro sections starts */
#intro{
    background-image:url(../images/bg_image_intro.jpeg);
    height: 700px;
    left: 0%;
    right: 0%;
    z-index: 99;
}
#intro .intro-text {
    visibility: visible;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 10;
    background: #3e2a2ab3;
}
#intro .intro-text .badge {
    border-radius: 40px;
    color: #f00;
    padding: 16px 24px;
    background-color: rgba(239, 56, 36, 0.15);
    text-shadow: 0 2px 4px rgb(23 25 37 / 40%);
    font-size: 16px;
}
/* Intro Section ends */
/* About Sections Starts */
#about {
    background: #fff;
}
#about .about_image .img {
    border: 8px solid #f00;
}
/* Download Button */
.about_dwnld_btn{
    padding: 10px 30px;
    margin: 5px;
    height: unset;
    background-color: transparent;
    color: #f51b1b;
    border: 0;
    font-weight: 500;
    box-shadow: 0 0 0 2px #e06767;
}


/* Skills Section */
#skills .progress-bar{
    color: #fff;
    background-color: #f00;
}

/* Hobbies Section */
#hobbies .container {
    background-color: #292e3b;
}

#hobbies .row .item {
    padding-top: 60px;
    padding-bottom: 60px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #66666691;
}

#hobbies .img-place {
    width: 230px;
    height: 290px;
    margin: 0 auto;
    overflow: hidden;
}

/* Footer Section */
.pt-footer{
    position: relative;
    display: block;
    margin-top: 50px;
    padding: 50px 0;
    background-color: #171925;
    color: #9FA2AB;
}